<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
                   2017-2021 The LineageOS Project
     Copyright (C) 2023 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/device_settings_app_name"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver android:name=".BootCompletedReceiver" android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".dirac.DiracActivity"
            android:label="@string/dirac_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/dirac_summary" />
        </activity>
        
        <service
            android:name=".thermal.ThermalService"
            android:exported="true"
            android:permission="ThermalService">
        </service>

        <activity
            android:name=".thermal.ThermalActivity"
            android:label="@string/thermal_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase_v31">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="1" />
        </activity>

        <provider
            android:name=".SummaryProvider"
            android:authorities="org.lineageos.settings.device.summary">
        </provider>

        <activity
            android:name=".dolby.DolbyActivity"
            android:exported="true"
            android:label="@string/dolby_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CATEGORY_CONTENT_MUSIC" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary_uri"
                       android:value="content://org.lineageos.settings.device.summary/dolby" />
        </activity>

        <service
            android:name=".dolby.DolbyTileService"
            android:exported="true"
            android:icon="@drawable/ic_dolby_qs"
            android:label="@string/dolby_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".doze.DozeService"
            android:exported="true"
            android:permission="DozeService">
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:exported="true">
            <intent-filter>
                <action android:name="org.lineageos.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".speaker.ClearSpeakerActivity" 
            android:label="@string/clear_speaker_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/clear_speaker_summary" />
        </activity>

        <service
            android:name=".display.ColorService"
            android:exported="true"
            android:permission="ColorService">
        </service>

        <activity
            android:name=".refreshrate.RefreshActivity"
            android:label="@string/refresh_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase_v31">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/refresh_summary" />
        </activity>

        <service
            android:name=".refreshrate.RefreshService"
            android:exported="true"
            android:permission="RefreshService">
        </service>

        <service
            android:name=".doze.PocketService"
            android:exported="true"
            android:permission="PocketService">
        </service>

        <service
            android:name=".doze.AodBrightnessService"
            android:exported="true"
            android:permission="AodBrightnessService">
        </service>

    </application>
</manifest>
