<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.cellbroadcastreceiver.overlay.miui">
    <overlay android:targetPackage="com.google.android.cellbroadcastreceiver"
                   android:targetName="CellBroadcastCustomization"
                   android:isStatic="true"
                   android:priority="1000"/>
</manifest>
