<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.cellbroadcastservice.overlay.miui">
    <overlay android:targetPackage="com.google.android.cellbroadcastservice"
                   android:targetName="CellBroadcastServiceCustomization"
                   android:isStatic="true"
                   android:priority="1000"/>
</manifest>
