#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.xiaomi_sm8475
    interface vendor.lineage.touch@1.0::IHighTouchPollingRate default
    class hal
    user system
    group system