<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.overlay.modules.documentsui">
    <overlay android:targetPackage="com.google.android.documentsui"
                   android:targetName="DocumentsUICustomization"
                   android:priority="0"/>
</manifest>
